@model DummyApp.Entities.ViewModels.RegistrationViewModel

<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <partial name="_Loginpartial.cshtml" />
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                @*<h1>INVALID VIEW</h1>*@
                <form method="POST" asp-action="Registration" asp-controller="Account">
                    <!-- Login with Socials Div -->
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-facebook"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-linkedin"></i>
                        </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">OR</p>
                    </div>

                    <!-- First Name input -->
                    <div class="form-outline">
                        <input type="text" class="form-control form-control-lg" placeholder="evan" asp-for="FirstName" id="fname">
                        <label class="form-label">First Name</label>
                    </div>
                    <span asp-validation-for="FirstName" class="text-danger"></span>

                    <!-- Last Name input -->
                    <div class="form-outline mt-4">
                        <input asp-for="LastName" placeholder="Last Name" class="form-control form-control-lg" id="lname" type="text" />
                        <label class="form-label">Last Name</label>
                    </div>
                    <span asp-validation-for="LastName" class="text-danger"></span>

                    <!-- Email input -->
                    <div class="form-outline mt-4">
                        <input class="form-control form-control-lg" asp-for="Email" type="email" id="email" placeholder="abc@gmail.com" />
                        <label class="form-label">Email address</label>
                    </div>
                    <span asp-validation-for="Email" class="text-danger"></span>
                    <span class="text-danger">@TempData["Error"]</span>
                    <!-- Phone Number input -->
                    <div class="form-outline mt-4">
                        <input asp-for="PhoneNumber" placeholder="9428977397" type="number" class="form-control form-control-lg" id="phonenumber" />
                        <label class="form-label">Phone Number</label>
                    </div>
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    <!-- Password input -->
                    <div class="form-outline mt-3">
                        <input asp-for="Password" class="form-control form-control-lg" id="txtPassword" placeholder="" type="password" />
                        <label class="form-label">Password</label>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <!-- Confirm Password input -->
                    <div class="form-outline mt-3">
                        <input asp-for="ConfirmPassword" type="password" class="form-control form-control-lg" placeholder="" id="txtConfirmPassword" />
                        <label class="form-label">Confirm Password</label>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Forgotpassword div -->
                        <div class="form-check mb-0">
                        </div>
                        <a asp-action="ForgotPassword" asp-controller="Account" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">

                        <button type="button" class="btn btn-light btn-lg border"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;"
                                onclick="ResetDetails()">
                            Reset
                        </button>

                        <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Register
                        </button>

                    </div>
                </form>
                @*@if (@ViewBag.Message != null)
                {
                    <script type="text/javascript" lang="javascript">
                        alert('@ViewBag.Message');
                    </script>
                }*@
            </div>
        </div>
    </div>

</section>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>

    function ResetDetails()
    {
        document.getElementById("fname").value = "";
        document.getElementById("lname").value = "";
        document.getElementById("email").value = "";
        document.getElementById("phonenumber").value = "";
        document.getElementById("txtPassword").value = "";
        document.getElementById("txtConfirmPassword").value = "";

    }
</script>