<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <partial name="_Loginpartial.cshtml" />
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form id="ResetPasswordForm">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-facebook"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-twitter"></i>
                        </button>

                        <button type="button" class="btn btn-primary btn-floating mx-1">
                            <i class="bi bi-linkedin"></i>
                        </button>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0">OR</p>
                    </div>

                    <!-- error msg-->
                    <span>A link to reset your password will be sent via email!</span>

                    <!-- New Password input -->
                    <div class="form-outline mb-3 mt-3">
                        <input type="password" class="form-control form-control-lg"
                               placeholder="Enter New password" />
                        <label class="form-label">Enter New password</label>
                    </div>
                    <!-- Confirm Password input -->
                    <div class="form-outline mb-3 mt-2">
                        <input type="password" class="form-control form-control-lg"
                               placeholder="Enter Confirm password" />
                        <label class="form-label">Enter Confirm password</label>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="button" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;"
                                onclick="SendMail()">
                            Send
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Don't have an account?
                            <a asp-action="Registration" asp-controller="Home"
                               class="link-danger">Register</a>
                        </p>
                    </div>
                    

                </form>
            </div>
        </div>
    </div>

</section>

<script>

    //$.('ResetPasswordForm').validate(){

    //}

    function SendMail()
    {
        console.log('SendMail function call');
    }
</script>